{% extends 'auctions/layout.html' %}

{% block body %}

    <h2>Categorieën</h2>
    <p class="my-4 h6">Select a Category to view Listings in that category.</p>
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 pb-2">
                <ul class="list-group">
                    <a href="{% url 'categorie' 'kleding' %}"><li class="list-group-item"><i class="fas fa-tshirt mr-5"></i> Fashion</li></a>
                    <a href="{% url 'categorie' "auto's" %}"><li class="list-group-item"><i class="fas fa-gavel mr-5"></i> Tools</li></a>
                    <a href="{% url 'categorie' 'elektronische apparaten' %}"><li class="list-group-item"><i class="fas fa-dice mr-5"></i> Toys</li></a>
                    <a href="{% url 'categorie' 'boeken' %}"><li class="list-group-item"><i class="fas fa-laptop mr-5"></i> Electronics</li></a>
                    <a href="{% url 'categorie' 'accessories' %}"><li class="list-group-item"><i class="fas fa-headset mr-5"></i> Accessories</li></a>
                    <a href="{% url 'categorie' 'overige' %}"><li class="list-group-item"><i class="fas fa-book-open mr-5"></i> Books</li></a>
                </ul>
            </div>
        </div>

{% endblock %}